---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";
import Layout from "../../layouts/Layout.astro";


// Function to convert newsTitle into a slug
const slugify = (text: string) => {
  return text
    .toString()
    .toLowerCase()
    .trim()
    .replace(/[\s\W-]+/g, '-');  // Replaces spaces and non-alphanumeric characters with a dash
}

interface BlogPost {
  contentTypeId: "tsdNews",
  fields: {
    newsTitle: EntryFieldTypes.Text,
    newsArticle: EntryFieldTypes.RichText,
    newsDate: EntryFieldTypes.Date,
   // newsImage: EntryFieldTypes.Array<EntryFieldTypes.AssetLink>,
  }
}

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "tsdNews",
});
---

<Layout title="news">
  <section class="inner-page">
      <div class="container">


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li>News</li>
        </ol>
        <h2>News</h2>
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-10 entries">


            {entries.items.map((item) => {
              const slug = slugify(item.fields.newsTitle);
          
              return (
              <article class="entry">
              {/* <div class="entry-img">
                     {item.fields.newsImage && item.fields.newsImage.length > 0 && (
                    <img
                      src={`https:${item.fields.newsImage[0].fields.file.url}`}
                      alt={item.fields.newsImage[0].fields.title || "News image"}
                    />
                  )}
              </div> */}

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center">
                    <i class="bi bi-clock"></i>
                    <a href="{`/news/${slug}`}"
                      ><date>{new Date(item.fields.newsDate).toLocaleDateString()}</date></a
                    >
                  </li>
                </ul>
              </div>

              <h2 class="entry-title">
                  <a href={`/news/${slug}`}>
                    <h2>{item.fields.newsTitle}</h2>
                  </a>
              </h2>



              <div class="entry-content">
                 <article set:html={documentToHtmlString(item.fields.newsArticle)}></article>
                <div class="read-more">
                   <a href={`/news/${slug}`}>Read More</a>
                </div>
              </div>
            </article>
              );
            })}

            
            <!-- End blog entry -->


          </div>
          <!-- End blog entries list -->

          <!-- End blog sidebar -->
        </div>
      </div>
    </section>
    <!-- End Blog Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">
        <div class="text-center">
          <h3>Find your nearest club</h3>
          <p>
            Gain self-discipline, self-confidence, physical fitness, stress
            management and the ultimate form of self-defense techniques.
          </p>
          <a class="cta-btn" href="/clubs">Find a club</a>
        </div>
      </div>
    </section>
    <!-- End Cta Section -->
  </section>
</Layout>



