---
import type { Navigation } from "../data/Navigation";

interface Props {
  navigation: Navigation
}
const { navigation } = Astro.props;
const subnav = navigation.subnav;
const hasSubnav = subnav && subnav.length > 0;
//console.log(navigation)
---

<li class={hasSubnav ? "dropdown" : ""} key={navigation.id}>
  <a class="nav-link scrollto" href={`${navigation.slug}`} aria-label={navigation.name} ><span>{navigation.name}</span> { subnav && subnav.length > 0 && ( <i class="bi bi-chevron-down"></i> )} </a>

  { subnav && subnav.length > 0 && (
    <ul>
      {subnav.map((subnavItem) => (
        <li><a href={`${subnavItem.slug}`}>{subnavItem.name}</a></li>
      ))}
    </ul>
  )}
</li>